# Testing
pytest
pytest-selenium
allure-pytest
pytest-check

# Web & Mobile Testing
Appium-Python-Client
selenium

# Code Quality
flake8
isort
black

# Utilities
colorama
pyyaml
numpy
allure-python-commons
cryptography
webdriver-manager
pytest-rerunfailures
boto3
botocore
pandas

# pipeline
gspread
oauth2client

